@if(pessoa.id === null) {
  <div class="px-4 sm:px-0  max-w-2xl mx-auto">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Cadastro de nova pessoa</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Um cadastro simples de pessoa e seus contatos.</p>
  </div>
} @else {
  <div class="px-4 sm:px-0  max-w-2xl mx-auto">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Editar {{ pessoa.nome }}</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Edite os dados de contato e até o nome da pessoa.</p>
  </div>
}
<form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2 max-w-2xl mx-auto mt-12" #pessoaForm=ngForm (ngSubmit)="onSubmit()">
  <div class="px-4 py-6 sm:p-8">
    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-6">
        <label for="nome" class="block text-sm font-medium leading-6 text-gray-900">Nome</label>
        <div class="mt-2">
          <input type="text" [(ngModel)]="model.nome" id="nome" name="nome" autocomplete="nome" class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h3 class="text-base font-semibold leading-7 text-gray-900 px-4 sm:px-8 pt-4">Dados de contato</h3>
  @for (contatoEditar of editarContatos; track contatoEditar; let idx = $index) {
    <div class="px-4 py-6 sm:p-8">
      <div class="grid max-w-2xl grid-cols-4 gap-x-6 gap-y-8 sm:grid-cols-7">
        <div class="cols-span-4 sm:col-span-2">
          <label [for]="'atualizarTipo' + idx" class="block text-sm font-medium leading-6 text-gray-900">Tipo</label>
          <div class="mt-2">
            <select [(ngModel)]="contatoEditar.tipo" [id]="'atualizarTipo' + idx" disabled [name]="'atualizarTipo' + idx" autocomplete="country-name" class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <option value="" selected disabled>Escolha um tipo</option>
              <option value="1">Telefone</option>
              <option value="2">E-mail</option>
              <option value="3">Whatsapp</option>
            </select>
          </div>
        </div>
        <div class="col-span-3 sm:col-span-4">
          <label [for]="'atualizarInformacao' + idx" class="block text-sm font-medium leading-6 text-gray-900">Dados</label>
          <div class="mt-2">
            <input type="text" [(ngModel)]="contatoEditar.informacao" [id]="'atualizarInformacao' + idx" [name]="'atualizarInformacao' + idx" autocomplete="nome" class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="col-span-1 grid justify-center content-center pt-6">
          <button type="button" (click)="excluirContato(idx)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 flex-none text-gray-400 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  }
  @for (contato of adicionaContatos; track contato; let idx = $index) {
    <div class="px-4 py-2 sm:px-8">
      <div class="grid max-w-2xl grid-cols-4 gap-x-6 gap-y-8 sm:grid-cols-7">
        <div class="cols-span-4 sm:col-span-2">
          <label [for]="'adicionarTipo' + idx" class="block text-sm font-medium leading-6 text-gray-900">Tipo</label>
          <div class="mt-2">
            <select [(ngModel)]="contato.tipo" [id]="'adicionarTipo' + idx" [name]="'adicionarTipo' + idx" autocomplete="country-name" class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <option value="" selected disabled>Escolha um tipo</option>
              <option value="1">Telefone</option>
              <option value="2">E-mail</option>
              <option value="3">Whatsapp</option>
            </select>
          </div>
        </div>
        <div class="col-span-3 sm:col-span-4">
          <label [for]="'adicionarInformacao' + idx" class="block text-sm font-medium leading-6 text-gray-900">Dados</label>
          <div class="mt-2">
            <input type="text" [(ngModel)]="contato.informacao" [id]="'adicionarInformacao' + idx" [name]="'adicionarInformacao' + idx" autocomplete="nome" class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="col-span-1 grid justify-center content-center pt-6">
          @if (adicionaContatos.length > idx + 1) {
            <button type="button" (click)="removeContato(idx)">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 flex-none text-gray-400 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
            </button>
          } @else {
            <button type="button" (click)="adicionaContato()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 flex-none text-gray-400 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>

            </button>
          }
        </div>
      </div>
    </div>
  }
  <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8 mt-4">
    <button routerLink="/pessoa" type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</button>
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      {{ pessoa.id ? 'Salvar' : 'Adicionar' }}
    </button>
  </div>
</form>
